$primary-color: #167bff
$box-shadow-color: rgba(34, 35, 58, 0.2)
$margin-top-multiplier: 3rem
$width-multiplier: 550px

@function calculate-margin-top($value)
  @return $value * $margin-top-multiplier

@function calculate-width($value)
  @return $value * $width-multiplier

.auth-wrapper
  $margin-top: calculate-margin-top(1)
  margin-top: $margin-top
  display: flex
  justify-content: center
  flex-direction: column
  height: 100%

  .auth-inner
    $width: calculate-width(1)
    width: $width
    margin: auto
    background: #ffffff
    box-shadow: 0px 14px 80px $box-shadow-color
    padding: 35px 55px 35px 55px
    border-radius: 15px
    transition: all .3s

  .form-control:focus
    border-color: $primary-color
    box-shadow: none

  h3
    text-align: center
    margin: 0
    line-height: 1
    padding-bottom: 20px

  .custom-control-label
    font-weight: 400

  .forgot-password,
  .forgot-password a
    text-align: left
    font-size: 13px
    padding-top: 10px
    color: #7f7d7d
    margin: 0

  .forgot-password a
    color: $primary-color

  .login
    margin-top: 0px !important

.btn:hover
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171)
