@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}
body {
  /* background: #1C8EF9 !important; */
  /* background: linear-gradient(rgba(37, 37, 37, 0.801), rgba(55, 56, 58, 0.589)),url("../public/ciym5tjtnke51.jpg" ); */

  min-height: 100vh;
  /* display: flex; */
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;

}
